.App {
}


nav {
    padding: 0 1rem;
}

.deleteButton, .searchButton {
    width: 110px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.deleteButton:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.searchButton:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.searchButton:disabled {
    background: #7d7c7c;
}

.searchButton {
    background-image: linear-gradient(to right, #897ae8, #5a2d91, #A3A1FF, #6cf3ab);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.deleteButton {
    background-image: linear-gradient(to right, #897ae8, #5a2d91, #A3A1FF, #fd0000);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.employees-card {
    margin: 5% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    gap: 1rem;
}




.employees, .departments {
    margin: 0 10%;
}



.searchButton {
    position: absolute;
    top: -1.5rem;
    right: 0.5rem;
    scale: 1;

}
